*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-align: center;
}

.container{
    display: flex;
    justify-content: center;
}

.display-general{
    display: flex;
    width: 1200px;
    height: 500px;
    border: solid black 1px;
}

.display-list{
    flex-basis: 40%;
    border: solid black;
    border-right: 1px;
}

.display-task{
    flex-basis: 60%;
    border: solid black ;
}

#new-task-form{
    display: inline-block;
}

#new-task{
    display: none;
}